<?xml version="1.0" encoding="UTF-8"?>
<!-- scan 配置文件如果发生改变，将会被重新加载  scanPeriod 检测间隔时间-->
<configuration scan="true" scanPeriod="60 seconds" debug="false">
    <!--为了防止进程退出时，内存中的数据丢失，请加上此选项-->
    <shutdownHook class="ch.qos.logback.core.hook.DelayingShutdownHook"/>
    <!-- 关闭冗余的日志打印 -->
    <statusListener class="ch.qos.logback.core.status.NopStatusListener" />
    <!-- LEVEL颜色变换 -->
    <conversionRule conversionWord="LEVEL_COLOR" converterClass="com.devvv.commons.core.sls.LogbackColorful"/>
    
    <!--日志输出路径-->
    <property name="log.path" value="logs" />
    <property name="log.pattern.console" value="%d{yyyy-MM-dd HH:mm:ss.SSS} %LEVEL_COLOR(%-5level) %magenta(${PID:- }) [%15.15t] %cyan(%-50.50(%logger{45}:%-3L)):%blue(%X{traceId}): %m%n" />
    <property name="log.pattern.file" value="%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level ${PID:- } [%15.15t] %-50.50(%logger{45}:%-3L) :%X{traceId}: %m%n" />
    
    <!-- 输出到控制台 -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${log.pattern.console}</pattern>
        </encoder>
    </appender>
    
    <!-- 输出到文件 -->
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${log.path}/${appName}.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <!-- 日志命名:单个文件大于128MB 按照时间+自增i 生成log文件 -->
            <fileNamePattern>${log.path}/${appName}-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <maxFileSize>10MB</maxFileSize>     <!-- 单个文件大小-->
            <maxHistory>10</maxHistory>         <!-- 最大保存时间：10天-->
            <totalSizeCap>1GB</totalSizeCap>
        </rollingPolicy>
        <append>true</append>
        <!-- 日志格式 -->
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>${log.pattern.file}</pattern>
            <charset>utf-8</charset>
        </encoder>
    </appender>
    
    <!-- 异步写入日志，提升性能 -->
    <appender name="ASYNC_FILE" class="ch.qos.logback.classic.AsyncAppender">
        <!-- 不丢失日志。默认的，如果队列的 80% 已满,则会丢弃 TRACT、DEBUG、INFO 级别的日志 -->
        <discardingThreshold>0</discardingThreshold>
        <!-- 更改默认的队列的深度，该值会影响性能。默认值为 256 -->
        <queueSize>256</queueSize>
        <appender-ref ref="FILE"/>
    </appender>
    
    <!--指定特定包的日志级别-->
    <logger name="io.lettuce.core.protocol" level="ERROR"/>
    <logger name="com.alibaba.cloud.nacos" level="WARN"/>
    <logger name="com.alibaba.nacos" level="WARN"/>
    
    
    <!-- 开发环境下的日志配置 -->
    <springProfile name="dev">
        <logger name="com.devvv" level="DEBUG"/>
        <root level="INFO">
            <appender-ref ref="CONSOLE" />
        </root>
    </springProfile>
    
    <!--测试环境下的日志配置-->
    <springProfile name="test">
        <root level="INFO">
            <appender-ref ref="ASYNC_FILE" />
        </root>
    </springProfile>
    
    <!-- 生产环境下的日志配置 -->
    <springProfile name="prod">
        <root level="INFO">
            <appender-ref ref="ASYNC_FILE" />
        </root>
    </springProfile>
</configuration>
