<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.devvv.cms.dao.cms.mapper.CmsAdminUserMapper">
  <resultMap id="BaseResultMap" type="com.devvv.cms.dao.cms.entity.CmsAdminUser">
    <!--@mbg.generated-->
    <!--@Table cms_admin_user-->
    <id column="admin_id" jdbcType="BIGINT" property="adminId" />
    <result column="username" jdbcType="VARCHAR" property="username" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="nickname" jdbcType="VARCHAR" property="nickname" />
    <result column="avatar" jdbcType="VARCHAR" property="avatar" />
    <result column="mobile" jdbcType="VARCHAR" property="mobile" />
    <result column="department_id" jdbcType="BIGINT" property="departmentId" />
    <result column="status" jdbcType="CHAR" property="status" />
    <result column="last_login_time" jdbcType="TIMESTAMP" property="lastLoginTime" />
    <result column="last_login_ip" jdbcType="VARCHAR" property="lastLoginIp" />
    <result column="login_count" jdbcType="BIGINT" property="loginCount" />
    <result column="create_id" jdbcType="BIGINT" property="createId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_id" jdbcType="BIGINT" property="updateId" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    admin_id, username, `password`, nickname, avatar, mobile, department_id, `status`, 
    last_login_time, last_login_ip, login_count, create_id, create_time, update_id, update_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from cms_admin_user
    where admin_id = #{adminId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    <!--@mbg.generated-->
    delete from cms_admin_user
    where admin_id = #{adminId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" keyColumn="admin_id" keyProperty="adminId" parameterType="com.devvv.cms.dao.cms.entity.CmsAdminUser" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into cms_admin_user (username, `password`, nickname, 
      avatar, mobile, department_id, 
      `status`, last_login_time, last_login_ip, 
      login_count, create_id, create_time, 
      update_id, update_time)
    values (#{username,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, #{nickname,jdbcType=VARCHAR}, 
      #{avatar,jdbcType=VARCHAR}, #{mobile,jdbcType=VARCHAR}, #{departmentId,jdbcType=BIGINT}, 
      #{status,jdbcType=CHAR}, #{lastLoginTime,jdbcType=TIMESTAMP}, #{lastLoginIp,jdbcType=VARCHAR}, 
      #{loginCount,jdbcType=BIGINT}, #{createId,jdbcType=BIGINT}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateId,jdbcType=BIGINT}, #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" keyColumn="admin_id" keyProperty="adminId" parameterType="com.devvv.cms.dao.cms.entity.CmsAdminUser" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into cms_admin_user
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="username != null">
        username,
      </if>
      <if test="password != null">
        `password`,
      </if>
      <if test="nickname != null">
        nickname,
      </if>
      <if test="avatar != null">
        avatar,
      </if>
      <if test="mobile != null">
        mobile,
      </if>
      <if test="departmentId != null">
        department_id,
      </if>
      <if test="status != null">
        `status`,
      </if>
      <if test="lastLoginTime != null">
        last_login_time,
      </if>
      <if test="lastLoginIp != null">
        last_login_ip,
      </if>
      <if test="loginCount != null">
        login_count,
      </if>
      <if test="createId != null">
        create_id,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateId != null">
        update_id,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="username != null">
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="nickname != null">
        #{nickname,jdbcType=VARCHAR},
      </if>
      <if test="avatar != null">
        #{avatar,jdbcType=VARCHAR},
      </if>
      <if test="mobile != null">
        #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="departmentId != null">
        #{departmentId,jdbcType=BIGINT},
      </if>
      <if test="status != null">
        #{status,jdbcType=CHAR},
      </if>
      <if test="lastLoginTime != null">
        #{lastLoginTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastLoginIp != null">
        #{lastLoginIp,jdbcType=VARCHAR},
      </if>
      <if test="loginCount != null">
        #{loginCount,jdbcType=BIGINT},
      </if>
      <if test="createId != null">
        #{createId,jdbcType=BIGINT},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateId != null">
        #{updateId,jdbcType=BIGINT},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.devvv.cms.dao.cms.entity.CmsAdminUser">
    <!--@mbg.generated-->
    update cms_admin_user
    <set>
      <if test="username != null">
        username = #{username,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        `password` = #{password,jdbcType=VARCHAR},
      </if>
      <if test="nickname != null">
        nickname = #{nickname,jdbcType=VARCHAR},
      </if>
      <if test="avatar != null">
        avatar = #{avatar,jdbcType=VARCHAR},
      </if>
      <if test="mobile != null">
        mobile = #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="departmentId != null">
        department_id = #{departmentId,jdbcType=BIGINT},
      </if>
      <if test="status != null">
        `status` = #{status,jdbcType=CHAR},
      </if>
      <if test="lastLoginTime != null">
        last_login_time = #{lastLoginTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastLoginIp != null">
        last_login_ip = #{lastLoginIp,jdbcType=VARCHAR},
      </if>
      <if test="loginCount != null">
        login_count = #{loginCount,jdbcType=BIGINT},
      </if>
      <if test="createId != null">
        create_id = #{createId,jdbcType=BIGINT},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateId != null">
        update_id = #{updateId,jdbcType=BIGINT},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where admin_id = #{adminId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.devvv.cms.dao.cms.entity.CmsAdminUser">
    <!--@mbg.generated-->
    update cms_admin_user
    set username = #{username,jdbcType=VARCHAR},
      `password` = #{password,jdbcType=VARCHAR},
      nickname = #{nickname,jdbcType=VARCHAR},
      avatar = #{avatar,jdbcType=VARCHAR},
      mobile = #{mobile,jdbcType=VARCHAR},
      department_id = #{departmentId,jdbcType=BIGINT},
      `status` = #{status,jdbcType=CHAR},
      last_login_time = #{lastLoginTime,jdbcType=TIMESTAMP},
      last_login_ip = #{lastLoginIp,jdbcType=VARCHAR},
      login_count = #{loginCount,jdbcType=BIGINT},
      create_id = #{createId,jdbcType=BIGINT},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_id = #{updateId,jdbcType=BIGINT},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where admin_id = #{adminId,jdbcType=BIGINT}
  </update>
  
  <select id="listAll" resultMap="BaseResultMap">
    select *
    from cms_admin_user
  </select>
    
  <select id="listByParams" resultMap="BaseResultMap">
    select *
    from cms_admin_user u
    <where>
      <if test="adminId != null">
        and u.admin_id = #{adminId,jdbcType=INTEGER}
      </if>
      <if test="nickname != null and nickname != ''">
        and u.nickname like concat('%',#{nickname,jdbcType=VARCHAR},'%')
      </if>
      <if test="roleId != null">
        and exists (select 1 from cms_admin_user_role ur where ur.admin_id = u.admin_id and ur.role_id = #{roleId,jdbcType=INTEGER})
      </if>
      <if test="mobile != null and mobile != ''">
        and u.mobile like concat('%',#{mobile,jdbcType=VARCHAR},'%')
      </if>
    </where>
  </select>
</mapper>